<h1 id="headline">TASK MANAGEMENT SYSTEM</h1>

<div id="list-container">
    <div id="list-head">
        <input id="todo-input" type="text" placeholder="New Todo..." [(ngModel)]="inputField" (keydown.enter)="addTodo()">
        <input id="todo-description" type="text" placeholder="Description..." [(ngModel)]="descriptionField">
        <input id="todo-due-date" type="date" [(ngModel)]="dueDateField">
        <select id="todo-priority"  [(ngModel)]="priorityField">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select> 
        
        <button (click)="addTodo()" id="add-todo">+</button>
    </div>
    <div class="divider"></div>
    <div id="list-body">
        <ul cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let todo of allTodos$ | async" id="todo-item" cdkDrag>
                    <!-- <img src="assets/img/drag_icon.svg" id="dragBar" class="dragBar" cdkDragHandle> -->
                    <li>{{ todo.task }} - {{ todo.description }} - {{ todo.dueDate | date }} - {{ todo.priority }}   </li>
                    <select id="todo-status"   [(ngModel)]="todo.taskstatus" (change)="updateTaskStatus(todo.id, todo.taskstatus)">
                        <option value="pending">Pending</option>
                        <option value="inProgress">in Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                <button id="editTodo"(click)="editTask(todo)">Edit</button>
                    <button id="deleteTodo" class="deleteTodo" (click)="removeTodo(todo.id)">Delete</button>
                    
            </div>
            
        </ul>
        
    </div>
    <button (click)="sortTodosByDueDate()" id="sort-todo">Sort by Due Date</button>
    <button (click)="exportToCSV()" id="export-todo">Export to CSV</button>
    <div class="divider"  *ngIf="todos.length > 0"></div>
</div>
