<h1 id="headline">TASK MANAGEMENT SYSTEM</h1>

<div id="list-container">
    <div id="list-head">
        <input id="todo-input" type="text" placeholder="New Todo..." [(ngModel)]="inputField" (keydown.enter)="addTodo()">
        <input id="todo-description" type="text" placeholder="Description..." [(ngModel)]="descriptionField">
        <input id="todo-due-date" type="date" [(ngModel)]="dueDateField">
        
        <select id="todo-priority"  [(ngModel)]="priorityField">
            <option value="">Choose Priority</option>
            <option value="Low">Low</option>
            <option value="Medium">Medium</option>
            <option value="High">High</option>
        </select> 
        
        <button (click)="addTodo()" id="add-todo">+</button>
    </div>
    <div class="divider"></div>
    <div id="list-body">
        <ul cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let todo of todos " id="todo-item" >
                    <li><div  class="task-title">{{ todo.task }} </div><div class="task-desc">{{ todo.description }}</div><div class="task-date">{{ todo.dueDate | date }}</div> <p class="task-pri"> {{ todo.priority }}   </p></li>
                    

                    <select id="todo-status" placeholder="Pending"  [(ngModel)]="todo.taskstatus" (change)="updateTaskStatus(todo.id, todo.taskstatus)">
                        <option value="pending">Pending</option>
                        <option value="inProgress">in Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                <button id="editTodo"(click)="editTask(todo)">Edit</button>
                    <button id="deleteTodo" class="deleteTodo" (click)="removeTodo(todo.id)">Delete</button>
                    
            </div>
            
        </ul>
        
    </div>
    
        <select  id ="sort-dropdown" (change)="onSortChange($event)">
            <option value="">Sort</option>
          <option value="dueDate">Due Date</option>
          <option value="increasingPriority">Increasing Priority</option>
          <option value="decreasingPriority">Decreasing Priority</option>
        </select>
      
      
    <button (click)="exportToCSV()" id="export-todo">Export to CSV</button>
    <div class="divider"  *ngIf="todos.length > 0"></div>
</div>
