<h1 id="headline">TO DO:</h1>

<div id="list-container">
    <div id="list-head">
        <input id="todo-input" type="text" placeholder="New Todo..." [(ngModel)]="inputField" (keydown.enter)="addTodo()">
        <input id="todo-description" type="text" placeholder="Description..." [(ngModel)]="descriptionField">
        <input id="todo-due-date" type="date" [(ngModel)]="dueDateField">
        <select id="todo-priority"  [(ngModel)]="priorityField">
            <option value="low">Low</option>
            <option value="medium">Medium</option>
            <option value="high">High</option>
        </select>
        <button (click)="addTodo()" id="add-todo">+</button>
    </div>
    <div class="divider"></div>
    <div id="list-body">
        <ul cdkDropList (cdkDropListDropped)="drop($event)">
            <div *ngFor="let todo of allTodos$ | async" id="todo-item" cdkDrag>
                    <img src="assets/img/drag_icon.svg" id="dragBar" class="dragBar" cdkDragHandle>
                    <li>{{ todo.task }} - {{ todo.description }} - {{ todo.dueDate | date }} - {{ todo.priority }}</li>
                    
                <button (click)="editTask(todo)">Edit</button>
                    <button id="deleteTodo" class="deleteTodo" (click)="removeTodo(todo.id)">✔</button>
            </div>
            
        </ul>
        
    </div>
    <div class="divider"  *ngIf="todos.length > 0"></div>
</div>
