// ul{
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     display: flex;
//     flex-direction: column;
//     gap: 0.5rem;
// }
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  


#todo-input{
    height: 2.5rem;
    border: 1px solid black;
    flex: 1;
    border-radius: .25rem .25rem .25rem .25rem;
    padding: 0 1rem;
    font-size: 1rem;
}

#todo-input:focus-visible, #todo-input:hover{
    outline: none;
    border-color: #0077ff;
}


#todo-description:focus-visible, #todo-description:hover{
    outline: none;
    border-color: #0077ff;
}
#todo-due-date{
    height: 2.5rem;
    border: 1px solid black;
    flex: 1;
    border-radius: .25rem .25rem .25rem .25rem;
    padding: 0 1rem;
    font-size: 1rem;
}

#todo-due-date:focus-visible, #todo-due-date:hover{
    outline: none;
    border-color: #0077ff;
}
#todo-priority{
    height: 2.5rem;
    border: 1px solid black;
    flex: 1;
    border-radius: .25rem .25rem .25rem .25rem;
    padding: 0 1rem;
    font-size: 1rem;
}

#todo-priority:focus-visible, #todo-priority:hover{
    outline: none;
    border-color: #0077ff;
}



#todo-item:hover{
    background-color: rgba(255, 255, 255, 0.33);
}




#headline{
    // padding-top: 1vh;
    color: black;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 20px;

    font-family: "Poppins", sans-serif;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.5rem;
    padding: 0 30px;
}

#list-container {
    width: 85%;
    height: 70%;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  /* Head styles */
  #list-head {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  #todo-input,
  #todo-description,
  #todo-due-date,
  #todo-priority {
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 295px;
  }
  
  #add-todo {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  #add-todo:hover {
    background-color: #45a049;
  }
  
  /* Body styles */
  #list-body {
    margin-bottom: 20px;
    overflow-y: scroll;
    height:80%;
    
  }
  
  #todo-item {
    margin-bottom: 10px;
    margin-left: -30px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    font-size: 23px;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    
  }
 li {
    margin-top: 10px;
    // flex: 1;
    overflow-wrap: break-word;
    padding: 10px;
    // width: 40%;
    display: flex;
    // position: relative;
    flex-direction: row;
    justify-content: space-between;
  //   margin-left: -490px;
  //   // margin-right: -100px;
  }
 
  #todo-item .task-pri{
    // margin-top: 10px;
    // padding-left: 30px;
    // margin-left: 10px;
    color: red;
  }
  #todo-status {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    background-color: grey;
  }
  #todo-status:hover{
    background-color: white;
    columns: black;
  }
  #todo-item .task-title {
    // margin-top: 10px;
    // flex: 1;
    font-weight: bold; 
    // overflow-wrap: break-word;
    // color: #dc5656;
  }
  
  #editTodo{
    
    background-color: rgb(59, 128, 207);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 4rem;
    height: 2.2rem;
    // margin-right: -0.5rem; 
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-left:0.5rem;
  }
  #deleteTodo {
    // margin-top: 10px;
    padding: 8px 12px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 3.4rem;
    // margin-right: -0.5rem; 
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    margin-left:0.5rem;
  }
  
  #editTodo:hover,
  #deleteTodo:hover {
    background-color: white;
    color: black;
    border:1px solid gray;
    
  }
  #sort-todo,#sortPriority-todo,#export-todo{
    border-radius: 4px;
    border:1px solid gray;
    color: #45a049;
    margin-right: 10px;
    position: sticky;
    z-index: 10;

  }
  #sort-todo:hover,
  #sortPriority-todo:hover,
  #export-todo:hover{
    background-color: #2f7bd3;
    color: white;
    border:1px solid gray;
    
  }
 
  @media screen and (max-width: 768px) {
    #todo-item {
      flex-direction: column; 
    }
  
    #editTodo,
    #deleteTodo {
      margin-top: 0; 
      margin-left: 0; 
    }
  
    #editTodo {
      margin-bottom: 10px; 
    }
  
    #todo-input,
    #todo-description,
    #todo-due-date,
    #todo-priority {
      width: 100%; 
      margin-right: 0;
      margin-bottom: 10px; 
    }
  }
  